<?php

// Arquivo de Corpo

include "./conexao.php";

$sqlEquipamento = "SELECT * FROM relatorios_equipamentos WHERE id=".$_GET['id'];
$resEquipamento = sqlsrv_query($con, $sqlEquipamento);
$rowEquipamento = sqlsrv_fetch_array($resEquipamento);

?>


<section class="aparelho">
	<h2>Editar Equipamento - <?=$rowEquipamento['id']?></h2>

	<form class="editar" id="editarEquipamento" action="./" method="post">
	<input type="hidden" name="hiddenUpdate" value="true">
	<input type="hidden" name="hiddenEquipamento" value="<?=$rowEquipamento['id']?>">

	<select name="inputTipo" id="inputTipo" required>
		<?php
		$sqlTipo = "SELECT * FROM relatorios_tipos WHERE tipo = 1 ORDER BY id";
		$resTipo = sqlsrv_query($con, $sqlTipo);

		while($rowTipo = sqlsrv_fetch_array($resTipo)) { ?>		
		<option <?php if($rowTipo['id'] == $rowEquipamento['tipo']) { $tipoAtual = $rowTipo['id']; echo "selected"; } ?> value="<?=$rowTipo['id']?>"><?=$rowTipo['nome']?></option>
		<?php } ?>
	</select><span>*</span>

	<select name="inputMarca" id="inputMarca">
		<option value="0" <?php if($rowEquipamento['marca'] == 0) echo "selected"; ?>>Sem Marca</option>
		<?php
		$sqlMarca = "SELECT * FROM relatorios_listas WHERE tipo = 18 ORDER BY id";
		$resMarca = sqlsrv_query($con, $sqlMarca);

		while($rowMarca = sqlsrv_fetch_array($resMarca)) { ?>		
		<option value="<?=$rowMarca['id']?>" <?php if($rowEquipamento['marca'] == $rowMarca['id']) echo "selected"; ?>><?=$rowMarca['nome']?></option>
		<?php } ?>
	</select>

	<input value="<?=$rowEquipamento['modelo']?>" placeholder="Modelo" type="text" name="inputModelo" id="inputModelo">
	<input value="<?=$rowEquipamento['patrimonio']?>" placeholder="Patrimônio" type="text" name="inputPatrimonio" id="inputPatrimonio" required><span>*</span>
	<input value="<?=$rowEquipamento['tag']?>" placeholder="TAG" type="text" name="inputTag" id="inputTag">


	<select name="inputFornecedor" id="inputFornecedor">
		<option value="0" <?php if($rowEquipamento['fornecedor'] == 0) echo "selected"; ?>>Sem Fornecedor</option>
		<?php
		$sqlFornecedor = "SELECT * FROM relatorios_listas WHERE tipo = 17 ORDER BY id";
		$resFornecedor = sqlsrv_query($con, $sqlFornecedor);

		while($rowFornecedor = sqlsrv_fetch_array($resFornecedor)) { ?>		
		<option value="<?=$rowFornecedor['id']?>" <?php if($rowEquipamento['fornecedor'] == $rowFornecedor['id']) echo "selected"; ?>><?=$rowFornecedor['nome']?></option>
		<?php } ?>
	</select>

	<input value="<?=$rowEquipamento['cnpj']?>" placeholder="CNPJ Fornecedor" type="text" name="inputCnpj" id="inputCnpj">

	<input type="hidden" name="inputNotaAtual" id="inputNotaAtual" value="<?=$rowEquipamento['link']?>">
	<?php if(isset($rowEquipamento['link'])) { ?><a id="linkNotaFiscal" href="<?=$rowEquipamento['link']?>" target="_blank">Veja a Nota Atual</a><?php } ?>	
	<p>Enviar nova Nota Fiscal</p>
	<input type="file" name="inputNotaFiscal" id="inputNotaFiscal">
	<input value="<?=$rowEquipamento['nota_fiscal']?>" placeholder="N° Nota Fiscal" type="text" name="inputNumeroNota" id="inputNumeroNota">
	<input value="<?=$rowEquipamento['data_nf']->format('d/m/Y')?>" name="inputDataNotaFiscal" id="inputDataNotaFiscal" placeholder="Data da Nota Fiscal" title="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$">

	<input value="<?=$rowEquipamento['garantia']?>" placeholder="Garantia Até" type="text" name="inputGarantia" id="inputGarantia">

	<select name="inputStatus" id="inputStatus" required>
		<option value="">Status</option>
		<option value="1" <?php if($rowEquipamento['status'] == 1) echo "selected"; ?>>Almox</option>
		<option value="2" <?php if($rowEquipamento['status'] == 2) echo "selected"; ?>>Entregue</option>
		<option value="3" <?php if($rowEquipamento['status'] == 3) echo "selected"; ?>>Baixa</option>
	</select><span>*</span>

	<textarea placeholder="Observacao" type="text" name="inputObservacao" id="inputObservacao"><?=$rowEquipamento['observacao']?></textarea>
	<input <?php if($rowEquipamento['disponivel'] == 1) echo "checked"; ?> type="checkbox" name="inputDisponivel" value="1"> Disponível

	

	<input type="submit" name="enviar" >

	</form>


	<div id="rightDados">
		<h4>Dados do Equipamento</h4>

		<h5>Setor</h5>

		<form action="./" method="post" id="selectSetor">

		<select id="selectAddSetor" name="selectAddSetor">

		<?php 

			$sqlSetor = "SELECT a.*, c.nome as unidade FROM relatorios_listas a 
			LEFT JOIN relatorios_setores_unidades b ON
			a.id = b.id_setor
			LEFT JOIN relatorios_listas c ON
			b.id_unidade = c.id
		WHERE a.tipo = 19";
		$resSetor = sqlsrv_query($con, $sqlSetor);

		while($rowSetor = sqlsrv_fetch_array($resSetor)) { 
			$nome[$i]['unidade'] = $rowSetor['unidade'];
			$nome[$i]['nome'] = $rowSetor['nome'];
			$nome[$i]['id'] = $rowSetor['id'];
			$i++;
		}

		sort($nome);

		for($i = 0; $i < count($nome); $i++) { 

		?>

		<option value="<?=$nome[$i]['id'];?>"><?=$nome[$i]['unidade'];?> - <?=$nome[$i]['nome'];?></option>

		<?php } ?>
			
		</select>

		</form>

		<a class="botao" onclick="document.getElementById('selectSetor').style.margin = '0px auto 12px'; document.getElementById('selectSetor').style.height = '52px';">Adicionar Setor</a>

		<h5>Responsáveis</h5>

		<select id="selectAddSetor" name="selectAddSetor2">

		<?php 

			$sqlSetor = "SELECT * FROM relatorios_funcionarios";
		$resSetor = sqlsrv_query($con, $sqlSetor);
		$i = 0;
		while($rowSetor = sqlsrv_fetch_array($resSetor)) { 
			$nome[$i]['nome'] = $rowSetor['nome'];
			$nome[$i]['id'] = $rowSetor['id'];
			$i++;
		}

		sort($nome);

		for($i = 0; $i < count($nome); $i++) { 

		?>

		<option value="<?=$nome[$i]['id'];?>"><?=$nome[$i]['nome'];?></option>

		<?php } ?>
			
		</select>

		<a class="botao" onclick="document.getElementById('selectSetor2').style.margin = '0px auto 12px'; document.getElementById('selectSetor2').style.height = '52px';">Adicionar Responsável</a>

	</div>


	<!-- Histórico do Equipamento -->
	<h2 style="margin-top: 52px">Histórico do Equipamento</h2>

	<div id="historicoEquipamento" ng-app="appHistoricoEquipamento" ng-controller="myCtrlHistoricoEquipamento">

	<div class="tituloResultados">
		<a class="linkTitulo2 selecionado" ng-click="ordenar2('diaHora');">Data do Evento</a><a  class="linkTitulo2" ng-click="ordenar2('evento');">Evento</a><a  class="linkTitulo2" ng-click="ordenar2('descricao');">Descrição</a><a  class="linkTitulo2" ng-click="ordenar2('usuario');">Usuário</a>
	</div>

	<div class="linhaResultado" ng-repeat="y in records | orderBy:myOrderBy2">
		<div class="colunaResultado2">{{y.diaHora}}</div><div class="colunaResultado2">{{y.evento}}</div><div class="colunaResultado2">{{y.descricao}}</div><div class="colunaResultado2">{{y.usuario}}</div>
	</div>

	</div>

	<script>

	$(function() {
		$('.linkTitulo2').click(function() {
			var elementos = document.getElementsByClassName('linkTitulo2');

		for (var x = 0; x < elementos.length; x++) {
			elementos[x].className = "linkTitulo2";
		}

		this.className = "linkTitulo2 selecionado";

		});
	});

	var appHistoricoEquipamento = angular.module("appHistoricoEquipamento", [])
	.controller("myCtrlHistoricoEquipamento", function($scope) {
    
    $scope.records = [

	<?php

	$sql = "SELECT relatorios_historico.id, relatorios_historico.nome, hora, descricao, relatorios_usuarios.nome AS usuario FROM relatorios_historico LEFT JOIN relatorios_usuarios ON relatorios_historico.id_usuario = relatorios_usuarios.id  WHERE id_item = '".$rowEquipamento['id']."' AND relatorios_historico.nome LIKE 'Equipamento%' AND sistema = 7 ORDER BY relatorios_historico.id DESC";
	$res = sqlsrv_query($con, $sql);

	//echo $sql;

	$i = 0;
	 while($row = sqlsrv_fetch_array($res)) {
		if($i == 0) echo "{";
		else echo ", {";
		echo "'diaHora': '".$row['hora']->format('d/m/Y')."', 'evento': '".$row['nome']."', 'descricao': '".$row['descricao']."', 'usuario': '".$row['usuario']."' }";
		$i++;
	}
	
	?>

    ];
      $scope.ordenar2 = function(y) {
      	if($scope.myOrderBy2 == y) y = "-"+y;
	    $scope.myOrderBy2 = y;
	  }
});

angular.bootstrap('#historicoEquipamento', ['appHistoricoEquipamento']);

</script>

</section>


<script type="text/javascript" language="javascript">
    $(function() {

        $("#botaoVoltar").click(function() {

        	var ultimo = <?=$tipoAtual?>;

            $("#equipamentoDinamico").html('<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>');

            // Faz requisição ajax e envia o ID da Categoria via método POST
            $.post("dinamicos/equipamentos.php", {ultimo: ultimo}, function(resposta) {

               // Coloca a resposta na DIV
               $("#equipamentoDinamico").html(resposta);
           
            });
        });
    });
</script>