<?php

// Arquivo de Corpo

include "./conexao.php";

$sqlEquipamento = "SELECT * FROM relatorios_equipamentos WHERE id=".$_GET['id'];
$resEquipamento = sqlsrv_query($con, $sqlEquipamento);
$rowEquipamento = sqlsrv_fetch_array($resEquipamento);

?>


<section class="aparelho">
	<h2>Editar Equipamento - <?=$rowEquipamento['id']?></h2>

	<form class="editar" id="editarEquipamento" action="./" method="post">
	<input type="hidden" name="hiddenUpdate" value="true">
	<input type="hidden" name="hiddenEquipamento" value="<?=$rowEquipamento['id']?>">

	<select name="inputTipo" id="inputTipo" required>
		<?php
		$sqlTipo = "SELECT * FROM relatorios_tipos WHERE tipo = 1 ORDER BY id";
		$resTipo = sqlsrv_query($con, $sqlTipo);

		while($rowTipo = sqlsrv_fetch_array($resTipo)) { ?>		
		<option <?php if($rowTipo['id'] == $rowEquipamento['tipo']) { $tipoAtual = $rowTipo['id']; echo "selected"; } ?> value="<?=$rowTipo['id']?>"><?=$rowTipo['nome']?></option>
		<?php } ?>
	</select><span>*</span>

	<select name="inputMarca" id="inputMarca">
		<option value="0" <?php if($rowEquipamento['marca'] == 0) echo "selected"; ?>>Sem Marca</option>
		<?php
		$sqlMarca = "SELECT * FROM relatorios_listas WHERE tipo = 18 ORDER BY id";
		$resMarca = sqlsrv_query($con, $sqlMarca);

		while($rowMarca = sqlsrv_fetch_array($resMarca)) { ?>		
		<option value="<?=$rowMarca['id']?>" <?php if($rowEquipamento['marca'] == $rowMarca['id']) echo "selected"; ?>><?=$rowMarca['nome']?></option>
		<?php } ?>
	</select>

	<input value="<?=$rowEquipamento['modelo']?>" placeholder="Modelo" type="text" name="inputModelo" id="inputModelo">
	<input value="<?=$rowEquipamento['patrimonio']?>" placeholder="Patrimônio" type="text" name="inputPatrimonio" id="inputPatrimonio" required><span>*</span>
	<input value="<?=$rowEquipamento['tag']?>" placeholder="TAG" type="text" name="inputTag" id="inputTag">


	<select name="inputFornecedor" id="inputFornecedor">
		<option value="0" <?php if($rowEquipamento['fornecedor'] == 0) echo "selected"; ?>>Sem Fornecedor</option>
		<?php
		$sqlFornecedor = "SELECT * FROM relatorios_listas WHERE tipo = 17 ORDER BY id";
		$resFornecedor = sqlsrv_query($con, $sqlFornecedor);

		while($rowFornecedor = sqlsrv_fetch_array($resFornecedor)) { ?>		
		<option value="<?=$rowFornecedor['id']?>" <?php if($rowEquipamento['fornecedor'] == $rowFornecedor['id']) echo "selected"; ?>><?=$rowFornecedor['nome']?></option>
		<?php } ?>
	</select>

	<input value="<?=$rowEquipamento['cnpj']?>" placeholder="CNPJ Fornecedor" type="text" name="inputCnpj" id="inputCnpj">

	<input type="hidden" name="inputNotaAtual" id="inputNotaAtual" value="<?=$rowEquipamento['link']?>">
	<?php if(isset($rowEquipamento['link'])) { ?><a id="linkNotaFiscal" href="<?=$rowEquipamento['link']?>" target="_blank">Veja a Nota Atual</a><?php } ?>	
	<p>Enviar nova Nota Fiscal</p>
	<input type="file" name="inputNotaFiscal" id="inputNotaFiscal">
	<input value="<?=$rowEquipamento['nota_fiscal']?>" placeholder="N° Nota Fiscal" type="text" name="inputNumeroNota" id="inputNumeroNota">
	<input value="<?=$rowEquipamento['data_nf']->format('d/m/Y')?>" name="inputDataNotaFiscal" id="inputDataNotaFiscal" placeholder="Data da Nota Fiscal" title="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$">

	<input value="<?=$rowEquipamento['garantia']?>" placeholder="Garantia Até" type="text" name="inputGarantia" id="inputGarantia">

	<select name="inputStatus" id="inputStatus" required>
		<option value="">Status</option>
		<option value="1" <?php if($rowEquipamento['status'] == 1) echo "selected"; ?>>Almox</option>
		<option value="2" <?php if($rowEquipamento['status'] == 2) echo "selected"; ?>>Entregue</option>
		<option value="3" <?php if($rowEquipamento['status'] == 3) echo "selected"; ?>>Baixa</option>
	</select><span>*</span>

	<textarea placeholder="Observacao" type="text" name="inputObservacao" id="inputObservacao"><?=$rowEquipamento['observacao']?></textarea>
	<input <?php if($rowEquipamento['disponivel'] == 1) echo "checked"; ?> type="checkbox" name="inputDisponivel" value="1"> Disponível

	

	<input type="submit" name="enviar" >

	</form>


	<div id="rightDados">
		<h4>Dados do Equipamento</h4>

		<h5>Unidade</h5>

		<form action="./" method="post" id="selectUnidade">
		<input type="hidden" name="hiddenUpdate" value="true">
		<input type="hidden" name="hiddenEquipamento" value="<?=$rowEquipamento['id']?>">
		<input type="hidden" name="hiddenEquipamentoTipo" value="<?=$rowEquipamento['tipo']?>">

		<select id="selectAddUnidade" name="selectAddUnidade">

		<?php 

		$sqlSetor = "SELECT a.* FROM relatorios_listas a WHERE a.tipo = 21";
		$resSetor = sqlsrv_query($con, $sqlSetor);

		$i = 0;
		while($rowSetor = sqlsrv_fetch_array($resSetor)) { 
			$nome[$i]['nome'] = $rowSetor['nome'];
			$nome[$i]['id'] = $rowSetor['id'];
			$i++;
		}

		sort($nome);

		$sqlCompare = "SELECT a.id_unidade AS unidade FROM relatorios_itens_unidades a 
		INNER JOIN  relatorios_listas b ON
		a.id_unidade = b.id
		WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare = sqlsrv_has_rows($resCompare);

		if($numCompare) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
			$unidadeAtual = $rowCompare['unidade'];
		}

		for($i = 0; $i < count($nome); $i++) { 

		?>

		<option <?php if(isset($unidadeAtual) && $nome[$i]['id'] == $unidadeAtual) echo "selected"; ?> value="<?=$nome[$i]['id'];?>"><?=$nome[$i]['nome'];?></option>

		<?php } ?>
			
		</select>


		<input type="submit" value="Salvar">

		</form>


		<?php

		$sqlCompare = "SELECT b.nome FROM relatorios_itens_unidades a 
		INNER JOIN  relatorios_listas b ON
		a.id_unidade = b.id
		WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare = sqlsrv_has_rows($resCompare);

		if($numCompare) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
			$explodir = explode(".", $rowCompare['nome']);
			$unidade = $explodir[0];
		?>
		<p><?=$rowCompare['nome'];?></p>
		<?php } else { ?>

		<a class="botao" onclick="document.getElementById('selectUnidade').style.margin = '0px auto 12px'; document.getElementById('selectUnidade').style.height = '106px';">Adicionar Unidade</a>
		<?php } 


		if($numCompare) { ?>

		<h5>Centro de Custo</h5>

		<form action="./" method="post" id="selectUnidade2">
		<input type="hidden" name="hiddenUpdate" value="true">
		<input type="hidden" name="hiddenEquipamento" value="<?=$rowEquipamento['id']?>">
		<input type="hidden" name="hiddenEquipamentoTipo" value="<?=$rowEquipamento['tipo']?>">

		<select id="selectAddUnidade2" name="selectAddUnidade2">

		<?php 

		$sqlSetor = "SELECT codigo, nome FROM relatorios_centro_custo WHERE unidade LIKE '".$unidade."'";
		$resSetor = sqlsrv_query($con, $sqlSetor);
		$i = 0;
		while($rowSetor = sqlsrv_fetch_array($resSetor)) { 
			$nome2[$i]['nome'] = $rowSetor['nome'];
			$nome2[$i]['codigo'] = $rowSetor['codigo'];
			$i++;
		}

		sort($nome2);

		$sqlCompare = "SELECT * FROM relatorios_itens_setores a WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare2 = sqlsrv_has_rows($resCompare);

		if($numCompare2) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
			$setorAtual = $rowCompare['id_setor'];
		}

		for($i = 0; $i < count($nome2); $i++) { 

			if(!empty($nome2[$i]['nome']) && $nome2[$i]['nome'] != null && $nome2[$i]['nome'] != '') {

		?>

		<option <?php if(isset($setorAtual) && $nome[$i]['codigo'] == $setorAtual) echo "selected"; ?> value="<?=$nome2[$i]['codigo'];?>"><?=$nome2[$i]['codigo'];?> - <?=$nome2[$i]['nome'];?></option>

		<?php } } ?>
			
		</select>

		<input type="submit" value="Salvar">

		</form>

		<?php

		$sqlCompare = "SELECT a.*, b.nome FROM relatorios_itens_setores a 
		INNER JOIN relatorios_centro_custo b ON
		a.id_setor LIKE b.codigo
		WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare2 = sqlsrv_has_rows($resCompare);

		if($numCompare2) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
		?>
		<p><?=$rowCompare['id_setor'];?> - <?=$rowCompare['nome'];?></p>
		<?php } else { ?>

		<a class="botao" onclick="document.getElementById('selectUnidade2').style.margin = '0px auto 12px'; document.getElementById('selectUnidade2').style.height = '106px';">Adicionar Centro de Custo</a>

		<?php } }

		if(!empty($numCompare2) && $numCompare2) {
			?>

		<h5>Responsável</h5>


		<form action="./" method="post" id="selectUnidade3">
		<input type="hidden" name="hiddenUpdate" value="true">
		<input type="hidden" name="hiddenEquipamento" value="<?=$rowEquipamento['id']?>">
		<input type="hidden" name="hiddenEquipamentoTipo" value="<?=$rowEquipamento['tipo']?>">

		<select id="selectAddUnidade3" name="selectAddUnidade3">

		<?php 

		$sqlResponsavel = "SELECT matricula, nome FROM relatorios_funcionarios WHERE unidade LIKE '".$unidade."'";
		$resResponsavel = sqlsrv_query($con, $sqlResponsavel);
		$i = 0;
		while($rowResponsavel = sqlsrv_fetch_array($resResponsavel)) { 
			$nome3[$i]['nome'] = $rowResponsavel['nome'];
			$nome3[$i]['matricula'] = $rowResponsavel['matricula'];
			$i++;
		}

		sort($nome3);

		$sqlCompare = "SELECT a.*, b.nome as nome FROM relatorios_itens_responsaveis a 
		INNER JOIN relatorios_funcionarios b ON
		a.matricula = b.matricula
		WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare3 = sqlsrv_has_rows($resCompare);

		if($numCompare3) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
			$matricula = $rowCompare['matricula'];
		}

		for($i = 0; $i < count($nome3); $i++) { 

			if(!empty($nome3[$i]['nome']) && $nome3[$i]['nome'] != null && $nome3[$i]['nome'] != '') {

		?>

		<option <?php if(isset($matricula) && $nome[$i]['matricula'] == $matricula) echo "selected"; ?> value="<?=$nome3[$i]['matricula'];?>"><?=$nome3[$i]['nome'];?></option>

		<?php } } ?>
			
		</select>

		<input type="submit" value="Salvar">

		</form>

		<?php


		$sqlCompare = "SELECT a.*, b.nome as nome FROM relatorios_itens_responsaveis a 
		INNER JOIN relatorios_funcionarios b ON
		a.matricula = b.matricula
		WHERE a.id_item = ".$rowEquipamento['id']." AND a.id_categoria = ".$rowEquipamento['tipo'];
		$resCompare = sqlsrv_query($con, $sqlCompare);
		$numCompare3 = sqlsrv_has_rows($resCompare);

		if($numCompare3) {
			$rowCompare = sqlsrv_fetch_array($resCompare);
		?>
		<p style="margin-bottom: 16px;"><?=$rowCompare['nome'];?></p>
		<?php } else { ?>

		<a class="botao" onclick="document.getElementById('selectUnidade3').style.margin = '0px auto 12px'; document.getElementById('selectUnidade3').style.height = '106px';">Adicionar Responsável</a>

		<?php } } ?>

	</div>


	<!-- Histórico do Equipamento -->
	<h2 style="margin-top: 52px">Histórico do Equipamento</h2>

	<div id="historicoEquipamento" ng-app="appHistoricoEquipamento" ng-controller="myCtrlHistoricoEquipamento">

	<div class="tituloResultados">
		<a class="linkTitulo2 selecionado" ng-click="ordenar2('diaHora');">Data do Evento</a><a  class="linkTitulo2" ng-click="ordenar2('evento');">Evento</a><a  class="linkTitulo2" ng-click="ordenar2('descricao');">Descrição</a><a  class="linkTitulo2" ng-click="ordenar2('usuario');">Usuário</a>
	</div>

	<div class="linhaResultado" ng-repeat="y in records | orderBy:myOrderBy2">
		<div class="colunaResultado2">{{y.diaHora}}</div><div class="colunaResultado2">{{y.evento}}</div><div class="colunaResultado2">{{y.descricao}}</div><div class="colunaResultado2">{{y.usuario}}</div>
	</div>

	</div>

	<script>

	$(function() {
		$('.linkTitulo2').click(function() {
			var elementos = document.getElementsByClassName('linkTitulo2');

		for (var x = 0; x < elementos.length; x++) {
			elementos[x].className = "linkTitulo2";
		}

		this.className = "linkTitulo2 selecionado";

		});
	});

	var appHistoricoEquipamento = angular.module("appHistoricoEquipamento", [])
	.controller("myCtrlHistoricoEquipamento", function($scope) {
    
    $scope.records = [

	<?php

	$sql = "SELECT relatorios_historico.id, relatorios_historico.nome, hora, descricao, relatorios_usuarios.nome AS usuario FROM relatorios_historico LEFT JOIN relatorios_usuarios ON relatorios_historico.id_usuario = relatorios_usuarios.id  WHERE id_item = '".$rowEquipamento['id']."' AND relatorios_historico.nome LIKE 'Equipamento%' AND sistema = 7 ORDER BY relatorios_historico.id DESC";
	$res = sqlsrv_query($con, $sql);

	//echo $sql;

	$i = 0;
	 while($row = sqlsrv_fetch_array($res)) {
		if($i == 0) echo "{";
		else echo ", {";
		echo "'diaHora': '".$row['hora']->format('d/m/Y')."', 'evento': '".$row['nome']."', 'descricao': '".$row['descricao']."', 'usuario': '".$row['usuario']."' }";
		$i++;
	}
	
	?>

    ];
      $scope.ordenar2 = function(y) {
      	if($scope.myOrderBy2 == y) y = "-"+y;
	    $scope.myOrderBy2 = y;
	  }
});

angular.bootstrap('#historicoEquipamento', ['appHistoricoEquipamento']);

</script>

</section>


<script type="text/javascript" language="javascript">
    $(function() {

        $("#botaoVoltar").click(function() {

        	var ultimo = <?=$tipoAtual?>;

            $("#equipamentoDinamico").html('<div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div>');

            // Faz requisição ajax e envia o ID da Categoria via método POST
            $.post("dinamicos/equipamentos.php", {ultimo: ultimo}, function(resposta) {

               // Coloca a resposta na DIV
               $("#equipamentoDinamico").html(resposta);
           
            });
        });
    });
</script>